.finishPopup {
    min-height: 200px;
    padding: 64px;
    max-width: 500px;
    width: 100%;
    background-color: #222;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;

    button {
        border: none;
        padding: 8px 48px;
        background-color: #3af;
        border-radius: 4px;
        cursor: pointer;
    }
}