.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #000a;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}